
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#main-container {
  margin: 20px auto;
  text-align: left;
  max-width: 900px;
}

input#username-input, input#password-input {
  padding: 4px 8px;
  margin: 8px 6px;
  box-sizing: border-box;
}

input.answer-input {
  padding: 4px 8px;
  display: block;
  box-sizing: border-box;
  margin: 8px 0px;
}

#create-preview {
  width: 500px;
  padding: 2px 16px 8px 16px;
  border: 1px solid #ccbb88;
  border-radius: 8px;
  background-color: #f4eecc;
  box-sizing: border-box;
  ul {
    list-style-type: circle;
    li {
      font-size: 120%;
      margin-bottom: 6px;
    }
  }
}

.create-buttons {
  margin: 8px 0px;
  button {
    margin-right: 25px;
  }
}

input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 120%;
  background-color: green;
  color: papayawhip;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #444;
}

.show-status {
  margin: 40px 0px;
  background-color: #e7edfd;
  border: 1px solid #c7cded;
  border-radius: 5px;
  padding: 2px 10px;
  width: 500px;
  font-size: 120%;
  box-sizing: border-box;
}

#logout {
  margin-left: 150px;
  div button {
    width: 160px;
    height: 60px;
    font-size: 150%;
    background-color: red;
    color: papayawhip;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #444;
    &:hover {
      background-color: orange;
    }
  }
}

#show-all-polls {
  ul {
    list-style-type: circle;
    li {
      font-size: 24px;
      .polldate {
        font-size: 12px;
        font-style: italic;
        color: gray;
      }
    }
  }
}

#single {
  ul {
    list-style-type: circle;
    li {
      font-size: 24px;
    }
  }
}

#header-full {
  width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #112255;

}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 900px;
  margin: 0px auto;
}

#nav-left {
  grid-column: 1;
  padding: 6px 32px;
  text-align: left;
  ul {
    list-style-type: none;
    padding: 0px;
    li a {
      color: #cccccc;
      &:hover {
        color: #eeeeee;
      }
    }
  }
}

#nav-right {
  grid-column: 2;
  padding: 2px 32px;
  text-align: right;
  ul {
    list-style-type: none;
    padding: 0px;
    li a {
      color: #cccccc;
      &:hover {
        color: #eeeeee;
      }
    }
  }
}

