
#login, #signup, #create, #show-all-polls {
  margin-left: 150px;
}

input#username-input, input#password-input {
  padding: 4px 8px;
  margin: 8px 6px;
  box-sizing: border-box;
}

input.answer-input {
  padding: 4px 8px;
  display: block;
  box-sizing: border-box;
  margin: 8px 0px;
}

#create-preview {
  width: 500px;
  padding: 2px 16px 8px 16px;
  border: 1px solid #ccbb88;
  border-radius: 8px;
  background-color: #f4eecc;
  box-sizing: border-box;
  ul {
    list-style-type: circle;
    li {
      font-size: 120%;
      margin-bottom: 6px;
    }
  }
}

.create-buttons {
  margin: 8px 0px;
  button {
    margin-right: 25px;
  }
}

input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 120%;
  background-color: green;
  color: papayawhip;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #444;
}

.show-status {
  margin: 40px 0px;
  background-color: #e7edfd;
  border: 1px solid #c7cded;
  border-radius: 5px;
  padding: 2px 10px;
  width: 500px;
  font-size: 120%;
  box-sizing: border-box;
}

#logout {
  margin-left: 150px;
  div button {
    width: 160px;
    height: 60px;
    font-size: 150%;
    background-color: red;
    color: papayawhip;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #444;
    &:hover {
      background-color: orange;
    }
  }
}

#show-all-polls {
  ul {
    list-style-type: circle;
    li {
      font-size: 24px;
      .polldate {
        font-size: 12px;
        font-style: italic;
        color: gray;
      }
    }
  }
}

