@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
@import url('https://fonts.googleapis.com/css?family=Domine');

@mixin button($background-color, $text-color, $width){
  width: $width;
  height: 30px;
  background-color: $background-color;
  color: $text-color;
  margin: 0px 10px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 1px #444444;
  &:hover {
    background-color: lighten($background-color, 12%);
  }
}

body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Domine', Georgia, serif;
}

#header-full {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #112255;
}

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  height: 60px;
}

#nav-left {
  grid-column: 1;
  padding: 0;
  margin: 0;
  text-align: left;
  a {
    height: 60px;
    line-height: 60px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
    color: lawngreen;
    text-decoration: none;
    &:hover {
      color: lighten(lawngreen, 18%);
    }
  }
}

#nav-right {
  grid-column: 2;
  padding: 0;
  margin: 0;
  text-align: right;
  a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    display: block;
    float: right;
    background-color: #112255;
    color: #cccccc;
    text-decoration: none;
    &:hover {
      background-color: lighten(#112255, 20%);
      color: #f7dd69;
    }
  }
}

#main-container {
  margin: 12px auto;
  text-align: left;
  max-width: 900px;
}

input#username-input, input#password-input {
  padding: 4px 8px;
  margin: 8px 6px;
  box-sizing: border-box;
}

input.answer-input {
  padding: 4px 8px;
  display: block;
  box-sizing: border-box;
  margin: 8px 0px;
}

#create-preview {
  width: 500px;
  padding: 2px 16px 8px 16px;
  border: 1px solid #ccbb88;
  border-radius: 8px;
  background-color: #f4eecc;
  box-sizing: border-box;
  ul {
    list-style-type: circle;
    li {
      font-size: 120%;
      margin-bottom: 6px;
    }
  }
}

.create-buttons {
  margin: 8px 0px;
  button {
    margin-right: 25px;
  }
}

input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 120%;
  background-color: green;
  color: papayawhip;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #444;
}

.show-status {
  margin: 40px 0px;
  background-color: #e7edfd;
  border: 1px solid #c7cded;
  border-radius: 5px;
  padding: 2px 10px;
  width: 500px;
  font-size: 120%;
  box-sizing: border-box;
}

#logout {
  margin-left: 150px;
  div button {
    width: 160px;
    height: 60px;
    font-size: 150%;
    background-color: red;
    color: papayawhip;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #444;
    &:hover {
      background-color: orange;
    }
  }
}

#show-all-polls, #show-my-polls {
  margin: 24px 36px;
}

#listing-head, #admin-head {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid gray;
  h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0;
  }
}

#listing-list, #admin-list {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin-top: 10px;
      font-size: 24px;
      a {
        text-decoration: none;
      }
      .polldate {
        font-size: 12px;
        font-style: italic;
        color: gray;
      }
    }
  }
}

.single {
  margin: 0;
  .backlink {
    margin: 8px 0 24px 8px;
    a {
      font-size: 12px;
      text-decoration: none;
      color: #999999;
      &:hover {
        color: #99bbdd;
      }
    }
  }
  .single-body {
    margin: 48px;
    ul {
      list-style-type: none;
      padding-left: 8px;
      li {
        margin-top: 10px;
        button {
          width: 440px;
          text-align: left;
          cursor: pointer;
          background-color: PaleGreen;
          color: #000204;
          font-family: 'Share Tech Mono', monospace;
          font-size: 24px;
          border: 1px solid #666666;
          border-radius: 4px;
          padding: 4px 10px;
          &:hover {
            background-color: SeaGreen;
            color: white;
          }
        }
      }
    }
  }
}

.alt-suggest {
  font-size: 80%;
  margin: 12px;
}

#ask-delete-button, #delete-forever-button {
  @include button(#aa3333, #fafafa, 220px);
}

#cancel-delete-button {
  @include button(#33aa33, #fafafa, 220px);
}
