#login, #signup, #create {
  margin-left: 150px; }

input#username-input, input#password-input {
  padding: 4px 8px;
  margin: 8px 6px;
  box-sizing: border-box; }

input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 120%;
  background-color: green;
  color: papayawhip;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #444; }

.show-status {
  margin: 40px 0px;
  background-color: #e7edfd;
  border: 1px solid #c7cded;
  border-radius: 5px;
  padding: 2px 10px;
  width: 500px;
  font-size: 120%;
  box-sizing: border-box; }
