@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Domine");
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Domine', Georgia, serif; }

#header-full {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #112255; }

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  height: 60px; }

#nav-left {
  grid-column: 1;
  padding: 0;
  margin: 0;
  text-align: left; }
  #nav-left a {
    height: 60px;
    line-height: 60px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 24px;
    color: lawngreen;
    text-decoration: none; }
    #nav-left a:hover {
      color: #abff59; }

#nav-right {
  grid-column: 2;
  padding: 0;
  margin: 0;
  text-align: right; }
  #nav-right a {
    font-family: 'Share Tech Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 120px;
    display: block;
    float: right;
    background-color: #112255;
    color: #cccccc;
    text-decoration: none; }
    #nav-right a:hover {
      background-color: #2244aa;
      color: #f7dd69; }

#main-container {
  margin: 12px auto;
  text-align: left;
  max-width: 900px; }

input#username-input, input#password-input {
  padding: 4px 8px;
  margin: 8px 6px;
  box-sizing: border-box; }

input.answer-input {
  padding: 4px 8px;
  display: block;
  box-sizing: border-box;
  margin: 8px 0px; }

#create-preview {
  width: 500px;
  padding: 2px 16px 8px 16px;
  border: 1px solid #ccbb88;
  border-radius: 8px;
  background-color: #f4eecc;
  box-sizing: border-box; }
  #create-preview ul {
    list-style-type: circle; }
    #create-preview ul li {
      font-size: 120%;
      margin-bottom: 6px; }

.create-buttons {
  margin: 8px 0px; }
  .create-buttons button {
    margin-right: 25px; }

input[type=submit] {
  width: 80px;
  height: 30px;
  font-size: 120%;
  background-color: green;
  color: papayawhip;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 1px #444; }

.show-status {
  margin: 40px 0px;
  background-color: #e7edfd;
  border: 1px solid #c7cded;
  border-radius: 5px;
  padding: 2px 10px;
  width: 500px;
  font-size: 120%;
  box-sizing: border-box; }

#logout {
  margin-left: 150px; }
  #logout div button {
    width: 160px;
    height: 60px;
    font-size: 150%;
    background-color: red;
    color: papayawhip;
    border: none;
    border-radius: 8px;
    box-shadow: 4px 4px 2px #444; }
    #logout div button:hover {
      background-color: orange; }

#show-all-polls, #show-my-polls {
  margin: 24px 36px; }

#listing-head, #admin-head {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid gray; }
  #listing-head h1, #admin-head h1 {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0; }

#listing-list ul, #admin-list ul {
  list-style-type: none;
  padding: 0; }
  #listing-list ul li, #admin-list ul li {
    margin-top: 10px;
    font-size: 24px; }
    #listing-list ul li a, #admin-list ul li a {
      text-decoration: none; }
    #listing-list ul li .polldate, #admin-list ul li .polldate {
      font-size: 12px;
      font-style: italic;
      color: gray; }

.single {
  margin: 0; }
  .single .backlink {
    margin: 8px 0 24px 8px; }
    .single .backlink a {
      font-size: 12px;
      text-decoration: none;
      color: #999999; }
      .single .backlink a:hover {
        color: #99bbdd; }
  .single .single-body {
    margin: 48px; }
    .single .single-body ul {
      list-style-type: none;
      padding-left: 8px; }
      .single .single-body ul li {
        margin-top: 10px; }
        .single .single-body ul li button {
          width: 440px;
          text-align: left;
          cursor: pointer;
          background-color: PaleGreen;
          color: #000204;
          font-family: 'Share Tech Mono', monospace;
          font-size: 24px;
          border: 1px solid #666666;
          border-radius: 4px;
          padding: 4px 10px; }
          .single .single-body ul li button:hover {
            background-color: SeaGreen;
            color: white; }

.alt-suggest {
  font-size: 80%;
  margin: 12px; }

#ask-delete-button, #delete-forever-button {
  width: 220px;
  height: 30px;
  background-color: #aa3333;
  color: #fafafa;
  margin: 0px 10px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 1px #444444; }
  #ask-delete-button:hover, #delete-forever-button:hover {
    background-color: #ca5050; }

#cancel-delete-button {
  width: 220px;
  height: 30px;
  background-color: #33aa33;
  color: #fafafa;
  margin: 0px 10px;
  padding: 2px 6px;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 1px #444444; }
  #cancel-delete-button:hover {
    background-color: #50ca50; }
